#pasto {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background: #35B729;
    position: absolute;
    bottom: 0;
}

#sol {
    width: 100px;
    height: 100px;
    background: #FFF852;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    top: 30px;
}

#base_casa {
    width: 300px;
    height: 200px;
    background: #401F08;
    position: relative;
    top: 18em;
    
    left: 50em;
}