#pasto {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background: #35B729;
    position: absolute;
    bottom: 0;
}

#sol {
    width: 100px;
    height: 100px;
    background: #FFF852;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    left: 50px;
    top: 30px;
}

#base_casa {
    width: 460px;
    height: 300px;
    background: #401F08;
    position: absolute;
    bottom: 60px;    
    left: 50em;
}

#techo_casa {
    border-bottom: 160px solid #000000;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    height: 0;
    width: 300px;
    position: absolute;   
    bottom: 360px;
    left: 50em;

}

#ventana {
    position: absolute;
    bottom: 100px;
    right: 90px;
    width: 100px;
    height: 100px;
    background: #FF62B0;
}

#puerta {
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 150px;
    height: 230px;
    background: #666666;
}

#heart {
    position: relative;
    width: 100px;
    height: 90px;
    left: 25px;
    top: 40px;
}

#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #FF5C5C;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}